@page "/"

<PageTitle>Site de Gael</PageTitle>

<div class="jumbotron text-center">
    <h1 class="display-4">Bienvenue sur le site de Gael</h1>
    <p class="lead">Votre partenaire de confiance pour les solutions industrielles</p>
    <hr class="my-4">
    <p>Nous fournissons des solutions innovantes et fiables pour l'industrie</p>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Fiabilité</h2>
            <p>Nous nous engageons à fournir des produits et des services de la plus haute qualité pour satisfaire les besoins de nos clients.</p>
        </div>
        <div class="col-md-4">
            <h2>Innovation</h2>
            <p>Nous adoptons les dernières technologies pour fournir les solutions les plus efficaces et innovantes pour votre entreprise.</p>
        </div>
        <div class="col-md-4">s
            <h2>Partenariat</h2>
            <p>Nous croyons en la création de relations de long terme avec nos clients et nous nous efforçons d'être un partenaire fiable pour votre entreprise.</p>
        </div>
    </div>
</div>